.container {
  min-height: 100vh;
  background: #fafbfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.searchBarWrapper {
  width: 100%;
  max-width: 400px;
  margin: 32px 0 24px 0;
}

.mainTitle {
  margin-top: 40px;
}