.import-button {
  display: none;
}

.custom-button {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  background-color: transparent;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.2s;
}

.custom-button svg {
  display: block;
  transition: opacity 0.2s;
}

.custom-button:hover {
  background-color: #555555;
}

.custom-button:hover svg {
  opacity: 0.3;
  color: #fff;
}

@media (max-width: 576px) {
  .custom-button {
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
  }
}
