.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: green;
    
}

.upper {
    background-color: red;
    width: 100%;
    height: 100%;

}

.module-list {
    background-color: blue;
    height: 100%;
    width: 100%;
}